<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Portfolio Ilana Enderman</title>

    <!-- Bootstrap Core CSS -->
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">

    <!-- Custom CSS -->
    <link rel="stylesheet" type="text/css" href="css/landing-page.css">
    <link rel="stylesheet" type="text/css" href="css/scrolling-nav.css">
    


    <!-- Custom Fonts -->
    <link rel="stylesheet" href="font-awesome/css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" type="text/css">
    <link rel="stylesheet" href="https://cdn.rawgit.com/konpa/devicon/master/devicon.min.css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->

</head>

<body id='page-top' class='index'>

    <!-- Navigation bar-->
    <nav id='mainNav' class="navbar navbar-default navbar-custom navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand page-scroll" href="#page-top">Ilana Enderman</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="active">
                        <a class="page-scroll" href="#home1">Home</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#about">About</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#experience">Experience</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#abilities">Abilities</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#portfolio">Projects</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#contact1">Contact</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>


    <!-- Header -->
    <a name="home"></a>
    <div id="home1" class="intro-header">
        <div class="container">

            <div class="row">
                <div class="col-lg-12">
                    <div class="intro-message">
                        <h1>Ilana Enderman</h1>
                        <h3>Junior Full-Stack Developer in training</h3>
                        <h3>In search of a traineeship, starting in Januari 2017</h3>
                        <hr class="intro-divider">
                        <ul class="list-inline intro-social-buttons">
                            <li>
                                <a href="https://github.com/ilanaenderman" class="btn btn-default btn-lg"><i class="fa fa-github fa-fw"></i> <span class="network-name">Github</span></a>
                            </li>
                            <li>
                                <a href="https://nl.linkedin.com/in/ilanaenderman" class="btn btn-default btn-lg"><i class="fa fa-linkedin fa-fw"></i> <span class="network-name">Linkedin</span></a>
                            </li>
                        </ul>
                        
                    </div>
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.intro-header -->

    <!-- Page About -->

    <a  name="#"></a>
    <div id ="about"class="content-section-a">

        <div class="container">
            <div class="row">
                <div class="col-lg-5 col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>

                    <h2 class="featurette-heading">About <span class="text-muted">Ilana Enderman</span></h2>
                    <p class="lead"><br>I am a student at the B. Startup School Amsterdam studying full-stack development: Javascript, lectured by the New York Coding + Design Academy. My background is in European Studies, specialized in European Economics and Policy, with a minor in Spanish.<br><br>As a Europe expert I am interested in social issues, in particular sustainability and development. Other interests of mine are traveling and surfing, often combined.</p>
                </div>
                <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                    <img class="img-responsive" src="img/ilana.jpg" alt="">
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.experience -->

    <div id = "experience" class="content-section-b">

        <div class="container">

            <hr class="section-heading-spacer">
            <div class="clearfix"></div>

            <h2 class="featurette-heading">Experience <span class="text-muted">Background</span></h2>
            <p class="lead"><br></p>

            <h3 class="title">Education</h3>

            <div class="experience row">

                <div class="col-md-4">
                    <h4><strong><u>New York Code + Design Academy</u></strong></h4>
                    <p class="lead">Sep 2016 - Jun 2017</p>
                </div>
                <div class="col-md-8">
                    <h4>Full-stack Javascript developer</h4>
                    <span><p class="lead">Course provided by the B. Startup School Amsterdam. This full-time intensive web development program wants to transform beginner students into entry level full stack developers. </p></span>
                    <p><br></p>
                </div>
            </div>


            <div class="experience row">
                <div class="col-md-4">
                    <h4><strong><u>University of Amsterdam</u></strong></h4>
                    <p class="lead">Sep 2014 - Aug 2015</p>
                </div>
                <div class="col-md-8">
                    <h4>Master European Studies</h4>
                    <span>
                    <li class="lead1">Specialization: Institutional Integration of Europe</li>
                    <p class="lead">During this master I studied contemporary Europe and the EU. It learned me how to unravel the various political, legal, economic and historical patterns that affect contemporary international governance and policy in Europe and its border regions.</p></span>
                    <p><br></p>
                </div>
            </div>


            <div class="experience row">
                <div class="col-md-4">
                    <h4><strong><u>University of Amsterdam</u></strong></h4>
                    <p class="lead">Sep 2014 - Aug 2015</p>
                </div>
                <div class="col-md-8">
                    <h4>Bachelor - European Studies</h4>
                    <span>
                    <li class="lead1">Major: Economics</li>
                    <li class="lead1">Minor: Spanish language and culture</li>
                    <p class="lead"> The study provided me with a broad knowlegde of Europe as I studied various aspect, such as the politics and culture of European countries in the past and present, the building of nations states and the formation of the EU.</p></span>
                </div>
            </div>  

            <hr class="divider">


            <h3 class="title">Carreer</h3>

            <div class="experience row">

                <div class="col-md-4">
                    <h4><strong><u>Spring Associates</u></strong></h4>
                    <p class="lead">Jul 2016 - Sep 2016</p>
                </div>
                <div class="col-md-8">
                    <h4>Interim Employee</h4>
                    <span><p class="lead">At this consultacy specialized in sustainability I helped with the making a of a sustainability analysis of the portfolio of a large asset manager by evaluating the sustainability performance of the investments, analysing data, scanning reports and identifying improvements.</p></span>
                    <p><br></p>
                </div>
            </div>


            <div class="experience row">
                <div class="col-md-4">
                    <h4><strong><u>VNG International</u></strong></h4>
                    <p class="lead">Feb 2013 - Jul 2013</p>
                </div>
                <div class="col-md-8">
                    <h4>Intern</h4>
                    <span><p class="lead">At the association of Dutch municipalities international I had a coordinating role on various projects on local government and international relations. I was involved in acquisition, organizing study visits and the realization of the UCLG Position and Policy Paper on Aid Effectiveness and Local Government.</p></span>
                </div>
            </div>

        </div>
    </div>

</div>
<!-- /.container -->

</div>
<!-- /.Abililties-b -->

<div id="abilities" class="content-section-a">

    <div class="container">

        <hr class="section-heading-spacer">
        <div class="clearfix"></div>

        <h2 class="featurette-heading">Abilities <span class="text-muted">Coding Skills</span></h2>
        <p class="lead"><br></p>

        <div class="devicon">

            <div class='col-lg-3'>
                <i class="devicon-github-plain-wordmark"></i>
            </div>
            <div class='col-lg-3'>
                <i class="devicon-html5-plain-wordmark"></i>
            </div>
            <div class='col-lg-3'>
                <i class="devicon-css3-plain-wordmark"></i>
            </div>
            <div class='col-lg-3'>
                <i class="devicon-javascript-plain"></i>
            </div>

            <div class='col-lg-3'>
                <i class="devicon-jquery-plain-wordmark"></i>
            </div>
            <div class='col-lg-3'>
                <i class="devicon-nodejs-plain"></i>
            </div>

            <div class='col-lg-3'>
                <i class="devicon-postgresql-plain-wordmark"></i>
            </div>
            <div class='col-lg-3'>
                <i class="devicon-bootstrap-plain-wordmark"></i>
            </div>

        </div>
    </div>

</div>
 <!-- /.container -->

    <!-- Portfolio Grid Section -->
    <section id="portfolio" class="content-section-b">
        <div class="container">
            <hr class="section-heading-spacer">
            <div class="clearfix"></div>

            <h2 class="featurette-heading">Projects <span class="text-muted">NYCDA</span></h2>
            <p class="lead"><br></p>


            <div class="row">
                <div class="col-lg-12 text-center">
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4 portfolio-item">
                    <a href="#portfolioModal1" class="portfolio-link" data-toggle="modal">
                        <div class="caption">
                            <div class="caption-content">
                                <i class="fa fa-search-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="img/guesthouse.png" class="img-responsive" alt="">
                    </a>
                    <div class="portfolio-caption">
                        <h4>Business Website</h4>
                        <p class="text-muted">Ola Onda Guesthouse</p>
                    </div>
                </div>
                <div class="col-sm-4 portfolio-item">
                    <a href="#portfolioModal2" class="portfolio-link" data-toggle="modal">
                        <div class="caption">
                            <div class="caption-content">
                                <i class="fa fa-search-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="img/country-information.png" class="img-responsive" alt="">
                    </a>
                    <div class="portfolio-caption">
                        <h4>Application</h4>
                        <p class="text-muted">Country Information</p>
                    </div>
                </div>
                <div class="col-sm-4 portfolio-item">
                    <a href="#portfolioModal3" class="portfolio-link" data-toggle="modal">
                        <div class="caption">
                            <div class="caption-content">
                                <i class="fa fa-search-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="img/userAdd.png" class="img-responsive" alt="">
                    </a>
                    <div class="portfolio-caption">
                        <h4>Application</h4>
                        <p class="text-muted">User Information</p>
                    </div>
                </div>
                <div class="col-sm-4 portfolio-item">
                    <a href="#portfolioModal4" class="portfolio-link" data-toggle="modal">
                        <div class="caption">
                            <div class="caption-content">
                                <i class="fa fa-search-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="img/bulletinAdd.png" class="img-responsive" alt="">
                    </a>
                    <div class="portfolio-caption">
                        <h4>Application</h4>
                        <p class="text-muted">Bulletin Board</p>
                    </div>
                </div>
            </div>
        </div>
    </section>



</div>
<!-- /.banner -->

<!-- Footer -->
<footer>
        <div id="contact1" class="container">
            <div class="row">
                <hr id="section-heading-spacer1">
                <div class="clearfix"></div>

                <h2 class="featurette-heading">Contact <span class="text-muted">Information</span></h2>
                 <p class="lead"><br></p>

                <p class='lead' id='mail'> Feel free to contact me
                <p class="lead"><span id="mail" class="glyphicon glyphicon-envelope"></span><a id="mail" href="mailto:ilanaenderman@hotmail.com?Subject=Hello%20again" target="_top">&nbsp;ilanaenderman@gmail.com</a></p>

                <div class="col-lg-12">
                    <p class="copyright text-muted small">Copyright &copy; 2016 Ilana Enderman</p>
                </div>
            </div>
        </div>

</footer>

    <!-- Portfolio Modals -->
    <div class="portfolio-modal modal fade" id="portfolioModal1" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <h2>Business Website</h2>
                            <hr class="star-primary">
                            <img src="img/guesthouse.png" class="img-responsive img-centered" alt="">
                            <p class="lead">Together with <a class="laura" href="https://lauraxiulan.github.io/personal-website/">Laura</a> I created a business website for a non-existent guesthouse as an assignment for the NYCDA course. For now it is still a static website withoud back-end.</p> 
                            <ul class="list-inline item-details">
                                <li>Date:
                                    <a>October 2016</a>
                                </li>
                                <li>Github:
                                    <strong><a href="https://github.com/ilanaenderman/guesthouse-website">Code</a>
                                    </strong>
                                </li>
                                <li>Website:
                                    <strong><a href="https://lauraxiulan.github.io/guesthouse-website/guesthouse.html">Ola Onda Guesthouse</a>
                                    </strong>
                                </li>
                            </ul>
                            <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="portfolio-modal modal fade" id="portfolioModal2" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <h2>Country Information App</h2>
                            <hr class="star-primary">
                            <img src="img/country-information.png" class="img-responsive img-centered" alt="">
                            <p class="lead">With Node.js and Express I made a country information app. This app will print the country name and Top Level Domain of the country you have chosen.</p>
                            <ul class="list-inline item-details">
                                <li>Date:
                                    <a href="http://startbootstrap.com">October 2016</a>
                                </li>
                                <li>Github:
                                    <strong><a href="https://github.com/ilanaenderman/hulahuping-koala/tree/master/app">Code</a>
                                    </strong>
                                </li>
                            </ul>
                            <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="portfolio-modal modal fade" id="portfolioModal3" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <h2>User Information App</h2>
                            <hr class="star-primary">
                            <img src="img/userSearch.png" class="img-responsive img-centered" alt="">
                            <p class="lead">For this project I created a user information app with Node.js, Ajax and Pug. It is able to search and add users.</p>
                            <ul class="list-inline item-details">
                                <li>Date:
                                    <a>October 2016</a>
                                </li>
                                <li>Github:
                                    <strong><a href="https://github.com/ilanaenderman/nycda-assignments/tree/master/user-information-app">Code</a>
                                    </strong>
                                </li>
                            </ul>
                            <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="portfolio-modal modal fade" id="portfolioModal4" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <h2>Bulletin Board App</h2>
                            <hr class="star-primary">
                            <img src="img/bulletinShow.png" class="img-responsive img-centered" alt="">
                            <p class="lead">An app for writing messages. Made with Node.js, Pug and PostgresSQL</p>
                            <ul class="list-inline item-details">
                                <li>Date:
                                    <a>November 2016</a>
                                </li>
                                <li>Github:
                                    <strong><a href="https://github.com/ilanaenderman/bulletin-app">Code</a>
                                    </strong>
                                </li>
                            </ul>
                            <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


<!-- jQuery -->
<script type="text/javascript" src="js/jquery.js"></script>
<script type="text/javascript" src="js/jquery.min.js"></script>
<script type="text/javascript" src="js/jquery.easing.min.js"></script>

<!-- Bootstrap Core JavaScript -->
<script type="text/javascript" src="js/bootstrap.min.js"></script>
<script type="text/javascript" src="js/scrolling-nav.js"></script>
<script type="text/javascript" src="js/agency.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
<script type="text/javascript" src="js/main.js"></script>



</body>

</html>
